.App {
  min-height: 100vh;
  width: 100%;
  background: #f1f2f3;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container form {
  width: 450px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 40px 40px;
}

.form-control {
  width: 100%;
}

.form-control label {
  font-size: 14px;
  color: gray;
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
}

.container .form-control {
  margin-bottom: 1rem;
}

form h2 {
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  background: rebeccapurple;
  color: #fff;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: inherit;
  margin: 1rem 0;
}

.navbar {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6rem;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.logo {
  font-size: 1.3rem;
  color: #444;
  font-weight: bold;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.navbar .link {
  text-decoration: none;
  color: black;
}

.content {
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.content h1 {
  font-size: 2rem;
  text-align: center;
}
